.custom-bg{
	background:Orange!important;
}

.admin .card{
	border:1px solid red;
}

.admin .card:hover{
	background:F4ECEB;
	cursor:pointer;
}
.list-group-item.active{
	background:Orange;
	border-color:orange;
	
}
#toast{
	min-width:300px;
	position:fixed;
	bottom:30px;
	left:50%;
	margin-left:-125px;
	background:#333;
	padding:15px;
	color:white;
	text-align:1;
	z-index:1;
	font-size:18px;
	visibility:hidden;	
}
#toast.display{
   visibility:visible;	
   animation:fadeIn 0.5s,fadeOut 0.5s 2.5s;
}
@keyframes fadeIn{
	from{
	bottom:0px;
	opacity:0;
	
	}
	to{
	bottom:30px;
	opacity:1;
	}
}
@keyframes fadeOut{
	from{
	bottom:30px;
	opacity:1;
	}
	to{
	bottom:0px;
	opacity:0;
	}
}



