.custom-bg{
	background:Orange!important;
}

.admin .card{
	border:1px solid red;
}

.admin .card:hover{
	background:F4ECEB;
	cursor:pointer;
}
.list-group-item.active{
	background:Orange;
	border-color:orange;
	
}